**/test-output/
**/.classpath
**/.idea
**.class
**/.tmp
**/.project
**/.settings/
**/target/
**/_build/
**/external/
**/.checkstyle
**/.pydevproject
nohup.out
*.swp
*.py.tmp
*.log
*.iml
**/.tmp
*.pyc
.sublime-project.sublime-workspace
.git-revision-status
.pydevproject
.recommenders
target
punchplatform.log
conditionning_playbook*
com.thales.services.cloudomc.punchplatform*
current-deployment.inv
.project
.settings
*~
.metadata
generated
